<body>
  <br />
  <h1>My ToDo Application</h1>
  <ul>
    <li><h4><a routerLink="to-do-list">ToDo List: </a></h4></li>
    <li><h4><a routerLink="to-do-details">ToDo Details:</a></h4></li>
  </ul>
  <router-outlet></router-outlet>
  <br/>
  <h4>HttpClient Data From API</h4>
  <table>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Manufactures</th>
      <th>Payload Id</th>
      <th>Wikipedia</th>
      <th>Website</th>
      <th>Twitter</th>
      <th>Description</th>
    </tr>
    <tr *ngFor='let t of data'>
      <td>{{t.mission_name}}</td>
      <td>{{t.mission_id}}</td>
      <td>{{t.manufacturers}}</td>
      <td>{{t.payload_ids}}</td>
      <td>{{t.wikipedia}}</td>
      <td>{{t.website}}</td>
      <td>{{t.twitter}}</td>
      <td>{{t.description}}</td>
    </tr>
  </table>
</body>
